
.ipynb_checkpoints/FCUL_ALS_Data_Exploration-checkpoint.ipynb
.ipynb_checkpoints/utils-checkpoint.py
.ipynb_checkpoints/main-checkpoint.py
.ipynb_checkpoints/NeuralNetwork-checkpoint.py
.ipynb_checkpoints/requirements-checkpoint.txt
.ipynb_checkpoints/Time_Series_Dataset-checkpoint.py
__pycache__/NeuralNetwork.cpython-37.pyc
__pycache__/utils.cpython-37.pyc
.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/*
scripts/.ipynb_checkpoints/*
*.pyc
.DS_Store
.vscode/launch.json
*.pth
Matplotlib_venv/
.vscode/settings.json
*.pickle
.idea/FCUL_ALS_Disease_Progression.iml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
*.xml
*-vscode.py
